html{
	height: 100%;
}

body {
  font-family: helvetica,'Georgia',arial,sans-serif;
  background-color: #fafbf1;
  color: #3C3C3C;
  text-align: center;
  height: 100%;
}

#main {
	min-height: 200px;
	height: 100%;
	z-index: 2;
}
h1 {
  font-size: 24px;
  line-height: 48px;
  font-weight: 100;
  letter-spacing: 1px;
  border-bottom: 1px solid #3c3c3c;
}

h1 strong {
  text-transform: uppercase;
  font-weight: bold;
}

#container {
  max-width: 980px;
  margin:  0 auto;
  height: 100%;	
}


.start-lottery {
	width: 200px;
	height: 50px;
	margin-left: -40px;
}

.lottery-plugin {
	
	font-size: 72px;
	line-height: 72px;
	vertical-align: middle;
}

.winner {
	
	color: green;
	z-index: 10000
	
}

#fireworks {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background: transparent;
    z-index: -1;
}

#tickets {
	width: 50px;
}
.lottery li 
{
	visibility: hidden;
}

header p {
	text-transform: uppercase;
	font-size: 80%;
	padding-bottom: 0;
	margin-bottom: 0;
}